{% extends "app/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-6">
         <div class="card">
        <div class="card-header">Account
        </div>
        <div class="card-body">
         
         <div class="chart-container-1">
          
         
            <p class="">Wallet Balance</p>
          
              <p style="font-size:30px; font-weight:bold;">$0.00</p>
              <h6 style="font-size: clamp(8px, 12px, 2rem); font-weight:small;">This contains balance on your account that is yet to be invested</h4>
           
            <p><button class="btn btn-warning" style="height:100%; margin-top:30px" type="submit">Withdraw Balance</button></p>
         
         </div>
         
        </div>
        
        <div class="row m-0 row-group text-center border-top border-light-3">
          <div class="col-12 col-lg-6">
            <div class="p-3">
              <h5 class="mb-0">$ 45.87M</h5>
            <small class="mb-0">TOTAL DEPOSIT</small>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="p-3">
              <h5 class="mb-0">$ 0.00</h5>
            <small class="mb-0">TOTAL WITHDRAW</small>
            </div>
          </div>

        </div>
        
       </div>
      </div>
   
        <div class="col-12 col-lg-6 col-xl-6">
           <div class="card">
              <div class="card-header">Deposit
              </div>
              <div class="card-body">
                <h6 class="text-center" style="font-size: clamp(10px, 16px, 2rem)">
                  Choose method of payment
                </h5> 
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-hover align-items-center">
                  <tbody>
                    {% for wallet in wallets %}
                    <tr>
                      <td><i class="fa fa-circle text-white mr-2"></i>{{wallet.wallet_name}}</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Deposit {{wallet.wallet_slug}}</button></td>
                                      <td>Processing Time: Instant - 30 minutes <br>Fee: 0%</td>
                    </tr>
                    {% endfor %}
                    {% if banks %}
                    <tr>
                      <td><i class="fa fa-circle text-light-3 mr-2"></i>Other</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Bank/Zelle/Cashapp</button></td>
                                      <td>Processing Time: Instant - 30 minutes <br>Fee: 0%</td>
                    </tr>
                    {% endif %}
                    {% comment %}
                    <tr>
                      <td><i class="fa fa-circle text-light-2 mr-2"></i>Ethereum</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Deposit BTC</button></td>
                                      <td>Processing Time: Instant - 30 minutes<br> Fee: 0%</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle text-light-3 mr-2"></i>Other</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Bank/Zelle/Cashapp</button></td>
                                      <td>Processing Time: Instant - 30 minutes <br>Fee: 0%</td>
                    </tr>
                  </tbody> {% endcomment %}
                </table>
              </div>
            </div>
        </div>
     </div><!--End Row-->
     
      
        
                  
                       
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
            </div>
            </div>
           
          </div>
          
        
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>
