{% extends "app/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Withdraw</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method='POST' action="{% url "withdraw" %}">
                {% csrf_token %}
                <div class="input-group mb-3 form-group col-sm-12">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">WALLET</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" name="wallet" required>
                    <option selected disabled>Choose..</option>
                    {% for wallet in wallets  %}
                  <option style="background-color:black;">{{wallet.wallet_name}}</option>
                  {% endfor %}
                    
                  </select>
                </div>
             
              <div class="form-group col-sm-12">
                <label for="plan" class="col-form-label text-black">WALLET ADDRESS</label>
                <input type="text" class="form-control" name="wallet_add" id="wallet_add" required>
              </div>
              
             
              <div class="form-group col-sm-12">
                <label for="amount" class="col-form-label text-black">AMOUNT</label>
                <input type="text" class="form-control" name="amount" id="amount" required>
              </div>
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Proceed</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if messages %}
      {% for message in messages %}
    <div id ="popupDiv" class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
       <div class="alert-icon">
      <i class="icon-info"></i>
      </div>
      
      <span class="popupContent alert-message" id="popupContent">{{message}}</span>
      
    </div>
    {% endfor %}
    {% endif %}
      <div class="row">
        <div class="col-12 col-lg-4 col-xl-4">
         <div class="card">
        <div class="card-header">Account
        </div>
        <div class="card-body">
         
         <div class="chart-container-1">
          
         
            <p class="">Wallet Balance</p>
            {% if user %}
              {% if user.wallet_balance == None %}
              <p style="font-size:30px; font-weight:bold;">$ 0.00</p>
              {% else %}
              <p style="font-size:30px; font-weight:bold;">$ {{user.wallet_balance}}</p>
              {% endif %}
              <h6 style="font-size: clamp(8px, 12px, 2rem); font-weight:small;">This contains balance on your account that is yet to be invested</h4>
           
            <p><button class="btn btn-warning" style="height:100%; margin-top:30px" type="submit" data-toggle="modal" data-target="#exampleModalCenter">Withdraw Balance</button></p>
         
         </div>
         
        </div>
        
        <div class="row m-0 row-group text-center border-top border-light-3">
          <div class="col-12 col-lg-6">
            <div class="p-3">
              {% if user.total_deposit == None %}
              <h5 class="mb-0">$ 0.00</h5>
              {% else %}
              <h5 class="mb-0">$ {{user.total_deposit}}</h5>
              {% endif %}
            <small class="mb-0">TOTAL DEPOSIT</small>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="p-3">
              {% if user.total_withdraw == None %}
              <h5 class="mb-0">$ 0.00</h5>
              {% else %}
              <h5 class="mb-0">$ {{user.total_withdraw}}</h5>
              {% endif %}
            <small class="mb-0">TOTAL WITHDRAW</small>
            </div>
          </div>
          {% endif %}
        </div>
        
       </div>
      </div>
   
        <div class="col-12 col-lg-8 col-xl-8">
           <div class="card">
              <div class="card-header">Deposit
              </div>
              <div class="card-body">
                <h6 class="text-center" style="font-size: clamp(10px, 16px, 2rem)">
                  Choose method of payment
                </h5> 
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-hover align-items-center">
                  <tbody>
                    {% for wallet in wallets %}
                    <tr>
                      <td><i class="fa fa-circle text-white mr-2"></i>{{wallet.wallet_name}}</td>
                      <td><a href="{% url "deposit" wallet.wallet_name %}"><button class="btn btn-success" style="width:100%; height:20%" type="submit">Deposit {{wallet.wallet_slug}}</button></a></td>
                                      <td>Processing Time: Instant - 30 minutes <br>Fee: 0%</td>
                    </tr>
                    {% endfor %}
                    {% if banks %}
                    <tr>
                      <td><i class="fa fa-circle text-light-3 mr-2"></i>Other</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Bank/Zelle/Cashapp</button></td>
                                      <td>Processing Time: Instant - 30 minutes <br>Fee: 0%</td>
                    </tr>
                    {% endif %}
                    {% comment %}
                    <tr>
                      <td><i class="fa fa-circle text-light-2 mr-2"></i>Ethereum</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Deposit BTC</button></td>
                                      <td>Processing Time: Instant - 30 minutes<br> Fee: 0%</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle text-light-3 mr-2"></i>Other</td>
                      <td><button class="btn btn-success" style="width:100%; height:20%" type="submit">Bank/Zelle/Cashapp</button></td>
                                      <td>Processing Time: Instant - 30 minutes <br>Fee: 0%</td>
                    </tr>
                  </tbody> {% endcomment %}
                </table>
              </div>
            </div>
        </div>
     </div><!--End Row-->
     
      
        
                  
                       
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
            </div>
            </div>
           
          </div>
          
        
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>
