{% extends "app/base.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}
<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->

<!-- Start wrapper-->

<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
 

      {% block content %}
     
      
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">All KYC INFO</h5>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">USERNAME</th>
                        <th scope="col">ID TYPE</th>
                        <th scope="col">ID No</th>
                        <th scope="col">Expiry DATE</th>
                        <th scope="col">Actions</th>

                        
                       
                      </tr>
                    </thead>
                    <tbody>
                      {% if kyc %}
                     
                    {% for kyc in kyc  %}
                     
                     
                      <tr>  
                        <td>{{kyc.user}}</td>
                        <td>{{kyc.id_type}}</td>
                        <td>{{kyc.id_number}}</td>
                        <td>{{kyc.expiry_date}}</td>
                        <td ><a href=""><button class="btn btn-primary"  style="font-size:10px; background-color: #28a745; color:white;" type="button" >View</button></a>
                         
                         
                          <button data-id="" class="btn btn-warning update" data-toggle="modal" data-target="#exampleModalCenter"  style="font-size:10px; color:white;" type="button" >Update</button>
                        
                        </td>
                        
                      </tr>
                      {% endfor %}
                      {% else %}
                      <tr>  
                        <td colspan="4" class="text-center">No data available</td>
                        
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% if kyc %}
    
         <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              
              <div class="cardkyc">
                <div class="card-inner">
                  <div class="card-front" style="background-image: url('{{kyc.front_img.url}}')">
                    <p>Front Side</p>
                  </div>
                  <div class="card-back" style="background-image: url('{{kyc.back_img.url}}')">
                    <p>Back Side</p>
                  </div>
                </div>
              </div>
s              
            </div>
          </div>
        </div>
      </div><!--End Row-->
      </div>

      {% endif %}
      
    </div><!--End Row-->
    {% endblock content %}
	

</body>
</html>
