{% extends "app/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>  
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      <div class="row">
        {% for plan in plans %}
        <div class="col-lg-4">
          <div class="carddiv">
            <p class="heading">
              {{plan.planName}} Plan
            </p>
            <ul   style="padding: 0px; margin:0px; list-style-type: None; display:flex; flex-direction:column; flex-wrap: wrap; gap:12px;">
              <li>Minimum Deposit <span class="text-success">💲{{plan.minPrice}}</span></li>
              <li>Maximum Deposit <span  class="text-success">💲{{plan.maxPrice}}</span></li>
              <li>10% Trade Commission</li>
              <li>24/7 Customer Support</li>
            <ul>
            
              <button type="button" class="button">
                <span class="button__text">Buy Plan</span>
                <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
              </button>
          </div>

        </div>
        {% endfor %}
      
      </div>
    </div>
      
  </div>
            
     
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>


    