{% extends "app/admin_templates/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      
        <div class="col-lg-12" style="height:70vh;">
          <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                      {% if quotes %}
                        {% for quote in quotes  %}
                        <div class="col-md-6">
                            
                            <ul class="">
        
                                <li><label for='name'>Name:</label>{{quote.name}}</li>
                                <li><label for='email'>Email:</label>{{quote.email}}</li>
                                <li><label for='phone-number'>Phone No:</label>{{quote.phone_number}}</li>
                                <li><label for='message'>Message:</label>{{quote.message}}</li>
                            </ul>
                            
                        </div>
                        {% endfor %}
                        {% else %}
                        <tr>
                          <td colspan="4"><p>No Quotes</p><td>
                        </tr>
                      {% endif %}
                        <div class="col-md-6">
                            <!-- Content for the second column -->
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
            </div>
            </div>
          </div>
        
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>
