{% extends "app/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
    
      <div class="row">
        {% if transaction %}
        <div class="col-12 col-lg-12 col-xl-12">
           <div class="card">
              <div class="card-header">Transaction Detail
              </div>
              <div class="card-body">
                <h6 class="text-center" style="font-size: clamp(10px, 16px, 2rem)">
                  {{transaction.date_created}}
                </h5>
                <h6 class="text-center" style="font-size: clamp(10px, 14px, 2rem)">
                 <span class="text-warning">Wallet Address:</span> {{transaction.wallet_address}}
                </h6> 
              </div>
              <table class="table table-sm text-wrap">
                <thead>
                 
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Transaction ID</th>
                    <td style="font-size: clamp(8px, 13px, 3rem)" class="text-wrap text-left">{{transaction.tr_no}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Transaction Type</th>
                    <td>{{transaction.transaction_type}}</td> 
                  </tr>
                  <tr>
                    <th scope="row">Payment Method</th>
                    <td>{{transaction.payment_method}}</td>
                  </tr>
                  
                  <tr>
                    <th scope="row">Amount</th>
                    <td>$ {{transaction.amount}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Status</th>
                    {% if transaction.status == 'Pending' %}
                    <td class="text-warning">{{transaction.status}}</td>
                    {% elif transaction.status == 'Completed' %}
                    <td class="text-success">{{transaction.status}}</td>
                    {% elif transaction.status == 'Failed' %}
                    <td class="text-danger">{{transaction.status}}</td>
                    {% endif %}
                  </tr>
                  {% if transaction.deposit_img %}
                  <tr>
                    <th scope="row">Payment Slip</th>
                    <td><img src="{{transaction.deposit_img.url}}" style="height:150px; width:100px;" alt="payment-slip" class="profile"></td>
                  </tr>
                  {% endif %}
                  
                </tbody>
              </table>
             {% endif %}
            </div>
        </div>
     </div><!--End Row-->
     
      
        
                  
                       
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
            </div>
            </div>
           
          </div>
          
        
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>
