{% extends "app/base.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}
<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->

<!-- Start wrapper-->

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      {% block content %}
      {% if messages %}
      {% for message in messages %}
    <div id ="popupDiv" class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
       <div class="alert-icon">
      <i class="icon-info"></i>
      </div>
      
      <span class="popupContent alert-message" id="popupContent">{{message}}</span>
      
    </div>
    {% endfor %}
    {% endif %}

      
</div>
    
         <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transaction History</h5>
              
              <div class=" table table-responsive small">
                <table class="table">
                  <thead>
                    <tr>
                      
                      
                      <th scope="col">Date</th>
                      <th scope="col">Transaction Type</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Mode of Payment</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if transactions %}
                    {% for transaction in transactions %}
                    <tr>
                      
                        <td>{{transaction.date_created}}</td>
                        <td>{{transaction.transaction_type}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.payment_method}}</td>
                        {% if transaction.status == 'Pending' %}
                        <td class="text-warning">{{transaction.status}}</td>
                        {% elif transaction.status == 'Failed' %}
                        <td class="text-danger">{{transaction.status}}</td>
                        {% elif transaction.status == 'Completed' %}
                        <td class="text-success">{{transaction.status}}</td>
                        {% endif %}
                        <td ><a href="{% url "transaction-detail" transaction.tr_no %}"><button class="btn btn-primary"  style="font-size:10px; background-color: #28a745; color:white;" type="button" >View</button></a></td>
                      
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="6" class="text-center"><p>No Transaction</p><td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->
      </div>
    </div>

      
    </div><!--End Row-->
    {% endblock content %}
	

</body>
</html>
