{% extends "app/base.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
 

<body class="bg-theme bg-theme1">
 
<!-- Start wrapper-->

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

    {% block content %}
  <!--Start Dashboard Content-->
 
	<div class="card mt-3 justify-content-center">
    <div class="card-content">
        <div class="row row-group  ">
            <div class="col-12 col-lg-6 col-xl-4 border-light">
                <div class="card-body">
                  <a href=""> <h5 class="text-white mb-0">Account Balance <span class="float-right"><i class="fa fa-shopping-cart"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Deposit Funds<span class="float-right"></span></p>
                </div></a>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 border-light">
                <div class="card-body">
                  <a href=""><h5 class="text-white mb-0">Realized Profit<span class="float-right"><i class="fa fa-envelope" aria-hidden="true"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Withdraw Profit<span class="float-right"> </i></span></p>
                </div></a>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 border-light">
                <div class="card-body">
                  <a href=""><h5 class="text-white mb-0">Total Equity<span class="float-right"><i class="fa fa-envelope-open" aria-hidden="true"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div  style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Trade Manager<span class="float-right"></span></p>
                </div></a>
            </div>
            
        </div>
    </div>
 </div>  
	  

	
	<div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">
		  
        <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
  {% comment %} <div class="tradingview-widget-container__widget"></div> {% endcomment %}
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
  {
  "symbols": [
    [
      "Apple",
      "AAPL|1D"
    ],
    [
      "Google",
      "GOOGL|1D"
    ],
    [
      "Microsoft",
      "MSFT|1D"
    ],
    [
      "NASDAQ:AMZN|1D"
    ],
    [
      "NASDAQ:TSLA|1D"
    ],
    [
      "NASDAQ:NVDA|1D"
    ],
    [
      "NASDAQ:META|1D"
    ],
    [
      "NASDAQ:MSFT|1D"
    ],
    [
      "NASDAQ:GOOGL|1D"
    ],
    [
      "NASDAQ:CRWD|1D"
    ],
    [
      "NSE:RELIANCE|1D"
    ],
    [
      "BITSTAMP:BTCUSD|1D"
    ],
    [
      "BINANCE:BTCUSDT|1D"
    ],
    [
      "BINANCE:ETHUSDT|1D"
    ],
    [
      "COINBASE:SOLUSD|1D"
    ],
    [
      "BINANCE:XRPUSDT|1D"
    ],
    [
      "BINANCE:PEPEUSDT|1D"
    ],
    [
      "BINANCE:NOTUSDT|1D"
    ],
    [
      "FX:EURUSD|1D"
    ],
    [
      "OANDA:GBPJPY|1D"
    ],
    [
      "FX:USDCAD|1D"
    ],
    [
      "FX:AUDUSD|1D"
    ],
    [
      "OANDA:EURGBP|1D"
    ]
  ],
  "chartOnly": false,
  "width": "100%",
  "locale": "en",
  "colorTheme": "dark",
  "autosize": true,
  "showVolume": false,
  "showMA": false,
  "hideDateRanges": false,
  "hideMarketStatus": false,
  "hideSymbolLogo": false,
  "scalePosition": "right",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "fontSize": "10",
  "noTimeScale": false,
  "valuesTracking": "1",
  "changeMode": "price-and-percent",
  "chartType": "area",
  "maLineColor": "#2962FF",
  "maLineWidth": 1,
  "maLength": 9,
  "headerFontSize": "medium",
  "lineWidth": 2,
  "lineType": 0,
  "dateRanges": [
    "1d|1",
    "1m|30",
    "3m|60",
    "12m|1D",
    "60m|1W",
    "all|1M"
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->
         
               </div>
	   </div>
  <div class="card ">
    <div class="card-header" style="height:400px;">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
      {
      "width": "100%",
      "height": "100%",
      "symbolsGroups": [
        {
          "name": "Indices",
          "originalName": "Indices",
          "symbols": [
            {
              "name": "FOREXCOM:SPXUSD",
              "displayName": "S&P 500 Index"
            },
            {
              "name": "FOREXCOM:NSXUSD",
              "displayName": "US 100 Cash CFD"
            },
            {
              "name": "FOREXCOM:DJI",
              "displayName": "Dow Jones Industrial Average Index"
            },
            {
              "name": "INDEX:NKY",
              "displayName": "Nikkei 225"
            },
            {
              "name": "INDEX:DEU40",
              "displayName": "DAX Index"
            },
            {
              "name": "FOREXCOM:UKXGBP",
              "displayName": "FTSE 100 Index"
            }
          ]
        },
        {
          "name": "Futures",
          "originalName": "Futures",
          "symbols": [
            {
              "name": "CME_MINI:ES1!",
              "displayName": "S&P 500"
            },
            {
              "name": "CME:6E1!",
              "displayName": "Euro"
            },
            {
              "name": "COMEX:GC1!",
              "displayName": "Gold"
            },
            {
              "name": "NYMEX:CL1!",
              "displayName": "WTI Crude Oil"
            },
            {
              "name": "NYMEX:NG1!",
              "displayName": "Gas"
            },
            {
              "name": "CBOT:ZC1!",
              "displayName": "Corn"
            }
          ]
        },
        {
          "name": "Bonds",
          "originalName": "Bonds",
          "symbols": [
            {
              "name": "CBOT:ZB1!",
              "displayName": "T-Bond"
            },
            {
              "name": "CBOT:UB1!",
              "displayName": "Ultra T-Bond"
            },
            {
              "name": "EUREX:FGBL1!",
              "displayName": "Euro Bund"
            },
            {
              "name": "EUREX:FBTP1!",
              "displayName": "Euro BTP"
            },
            {
              "name": "EUREX:FGBM1!",
              "displayName": "Euro BOBL"
            }
          ]
        },
        {
          "name": "Forex",
          "originalName": "Forex",
          "symbols": [
            {
              "name": "FX:EURUSD",
              "displayName": "EUR to USD"
            },
            {
              "name": "FX:GBPUSD",
              "displayName": "GBP to USD"
            },
            {
              "name": "FX:USDJPY",
              "displayName": "USD to JPY"
            },
            {
              "name": "FX:USDCHF",
              "displayName": "USD to CHF"
            },
            {
              "name": "FX:AUDUSD",
              "displayName": "AUD to USD"
            },
            {
              "name": "FX:USDCAD",
              "displayName": "USD to CAD"
            }
          ]
        },
        {
          "name": "crypto",
          "symbols": [
            {
              "name": "BITSTAMP:BTCUSD"
            },
            {
              "name": "BINANCE:ETHUSDT"
            },
            {
              "name": "BINANCE:SOLUSDT"
            },
            {
              "name": "COINBASE:ETHUSD"
            },
            {
              "name": "BINANCE:XRPUSDT"
            },
            {
              "name": "BINANCE:DOGEUSDT"
            },
            {
              "name": "BINANCE:PEPEUSDT"
            },
            {
              "name": "BINANCE:LINKUSDT"
            },
            {
              "name": "BINANCE:NOTUSDT"
            }
          ]
        }
      ],
      "showSymbolLogo": true,
      "isTransparent": false,
      "colorTheme": "dark",
      "locale": "en",
      "backgroundColor": "#131722"
    }
      </script>
    </div>
    <!-- TradingView Widget END -->
  </div>
  </div>
   <!-- TradingView Widget BEGIN -->
<div class="card-header" style="height:400px;">
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
  {
  "feedMode": "all_symbols",
  "isTransparent": false,
  "displayMode": "regular",
  "width": "100%",
  "height": "100%",
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
</div>
<!-- TradingView Widget END -->
     </div>
	 </div>
	</div><!--End Row-->
  <footer class="footer">
    <div class="container">
      <div class="text-center">
        Copyright © 2023 APOTRADESHUB
      </div>
    </div>
  </footer>
  {% endblock content %}
      <!--End Dashboard Content-->
	  
	

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "app/assets/js/jquery.min.js" %}"></script>
  <script src="{% static "app/assets/js/popper.min.js" %}"></script>
  <script src="{% static "app/assets/js/bootstrap.min.js" %}"></script>
	
 <!-- simplebar js -->
  <script src="{% static "app/assets/plugins/simplebar/js/simplebar.js" %}"></script>
  <!-- sidebar-menu js -->
  <script src="{% static "app/assets/js/sidebar-menu.js" %}"></script>
  <!-- loader scripts -->
  <script src="{% static "app/assets/js/jquery.loading-indicator.js" %}"></script>
  <!-- Custom scripts -->
  <script src="{% static "app/assets/js/app-script.js" %}"></script>
  <!-- Chart js{% static "" %}app/ -->
  
  <script src="{% static "app/assets/plugins/Chart.js/Chart.min.js" %}"></script>
 
  <!-- Index js{% static "" %}app/ -->
  <script src="{% static "app/assets/js/index.js" %}"></script>

  
</body>
</html>
