{% extends "app/admin_templates/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      
        <div class="col-lg-12" style="height:70vh;">
          <div class="card">
            <table class="table-responsive table-sm table-bordered text-wrap col-md-6 mx-auto">
            <thead >
              
                <th style="text-align:center;"colspan="4">Parcel Info</th>
                
             
            </thead>
            <tbody>
                <tr>
                    <th style="text-align:center;" scope="row" colspan="4">Recipient details</th>
                    
                    
                    
                  </tr>
              <tr>
                <th scope="row">Name</th>
                <td >{{parcel.recipient_fname}} {{parcel.recipient_lname}}</td>
                
                
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{parcel.recipient_email}}</td>
        
              </tr>
              <tr>
                <th scope="row">Phone</th>
                <td >{{parcel.recipient_mobile_no}}</td>
                
                
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td >{{parcel.recipient_address}}</td>
                
              </tr>
              <tr class="text-wrap">
                <th scope="row">Country</th>
                <td >{{parcel.delivery_address}}</td>
                
                
              </tr>
              {% comment %} sender Details {% endcomment %}
            <tr style="background-color:black;"><th scope="row" colspan="4"></th></tr>
              <tr>
                
                <th style="text-align:center;" scope="row" colspan="4">Sender details</th>
                
                
                
              </tr>
          <tr>
            <th scope="row">Name</th>
            <td >{{parcel.sender_name}}</td>
            
            
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td >{{parcel.sender_email}}</td>
    
          </tr>
          <tr>
            <th scope="row">Phone</th>
            <td >{{parcel.sender_mobile_no}}</td>
            
            
          </tr>
          <tr>
            <th scope="row">Country</th>
            <td >{{parcel.current_location}}</td>
            
            
          </tr>
          <tr style="background-color:black;"><th scope="row" colspan="4"></th></tr>
          <tr>
            
            <th style="text-align:center;" scope="row" colspan="4">Parcel details</th>
            
          </tr>
          <tr>
            <th scope="row">Tracking No.</th>
            <td >{{parcel.tracking_no}}</td>
    
          </tr>
      <tr>
        <th scope="row">Mode of delivery</th>
        <td >{{parcel.mode_of_delivery}}</td>
      </tr>
     
      <tr>
        <th scope="row">Weight</th>
        <td >{{parcel.weight}}</td>
        
        
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td >{{parcel.status}}</td>
        
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td rowspan="2"  >{{parcel.parcel_description}}</td>
        
        
      </tr>

            </tbody>
          </table></div>
        </div>
            
        
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>


    