{% extends "app/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>  
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      {% if messages %}
      {% for message in messages %}
    <div id ="popupDiv" class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
       <div class="alert-icon">
      <i class="icon-info"></i>
      </div>
      
      <span class="popupContent alert-message" id="popupContent">{{message}}</span>
      
    </div>
    {% endfor %}
    {% endif %}
    
    <div class="row">
        <div class="col-lg-6">
        <div class="card center-content">
          <div class="card-body ">
            <h5 class="card-title">Add Wallet</h5>
            <div class="cardless2">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group small">
                        <label for="recipient-name" class="col-form-label text-black">Wallet Logo</label>
                        <input  type="file" name="wallet_name" class="form-control"  id="name">
                    </div>
                <div class="form-group small">
                    <label for="recipient-name" class="col-form-label text-black">Wallet Name</label>
                    <input placeholder="eg. Bitcoin" type="text" name="wallet_name" class="form-control"  id="name">
                </div>
                <div class="form-group">
                    <label for="wallet_address" class="col-form-label text-black">wallet slug</label>
                    <input placeholder="eg. BTC" type="text" name="plan_name" class="form-control"  id="planname" required>
                </div>
                
                <div class="form-group">
                    <label for="country" class="col-form-label text-black">wallet address</label>
                    <input placeholder="0x9ebfsdjfusfbwebfuydfsdfyfsfugssdfbywfdsfyfdfhghdghfgd" type="text" class="form-control" name="wallet_address"  id="wallet_address" required>
                </div>
               
              <div class="form-group">
                <label for="country" class="col-form-label text-black">QR code</label>
                <input type="file"  class="form-control" name="qr_code" required>
            </div>
            
                <button type="submit">Add Wallet</button>
            </form>
          </div>
        </div>
        </div>
      </div>
     

     
       
        <div class="col-lg-6">
           
                <div class="card center-content">
                  <div class="card-body ">
                    <h5 class="card-title">Add Bank</h5>
                    <div class="cardless2">
                        <form method="POST" action="{% url "create-plan" %}">
                            {% csrf_token %}
                        <div class="form-group small">
                            <label for="recipient-name" class="col-form-label text-black">Bank Name</label>
                            <input placeholder="eg. Chase Bank" type="text" name="bank_name" class="form-control"  id="name">
                        </div>
                        <div class="form-group">
                            <label for="wallet_address" class="col-form-label text-black">Bank Address</label>
                            <input type="text" name="bank_address" class="form-control"  required>
                        </div>
                        
                        <div class="form-group">
                            <label for="owner" class="col-form-label text-black">Owner</label>
                            <input type="text" class="form-control"   required>
                        </div>
                        <div class="form-group">
                          <label for="routing-no" class="col-form-label text-black">Routing No</label>
                          <input type="text" placeholder="03726483648" class="form-control" name="risk"  id="" required>
                      </div>
                      <div class="form-group">
                        <label for="account-no" class="col-form-label text-black">Account No</label>
                        <input type="number" placeholder="00006565533" class="form-control" name="account_no"   required>
                    </div>
                   
                        <button type="submit">Add Bank</button>
                    </form>
                  </div>
                </div>
                </div>
             
       
       
      
      </div>
        </div>
    </div>
      
  </div>
            
     
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>


    